h1{
    background-color: blanchedalmond;
    color: red;
    text-align: center;
    padding: 50px;
    margin: 35px;
}
#ready{
    background-color: aqua;
    padding: 40px;
    margin: 25px;
    text-emphasis: bold;
    text-align: center;
}
#tell{
    background-color: blueviolet;
    padding: 40px;
    margin: 25px;
    text-align: center;
}